<%- include("../partials/header.ejs") %>

<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1><i class="fas fa-campground"></i> Welcome to YelpCamp!</h1>
            <p>View our hand-picked camprounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>

    <div class="row all-campgrounds-container">
        <% campgrounds.forEach(function(item){ %>
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail text-center">
                    <img src="<%= item.image %>" alt="image not found">
                    <div class="caption">
                        <h4><%= item.name %></h4>
                        <% if(item.reviews.length > 0){ %>
                            <h4><%- '<span class="fa fa-star"></span>'.repeat(Math.round(item.rating)) %> <%= item.rating.toFixed(1) %><span class="rating-max">/5</span></h4>
                        <% } else { %>
                            <h4>No reviews</h4>
                        <% } %>    
                        <a class="btn btn-primary" href="/campgrounds/<%= item._id %>">More info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

</div>

<%- include("../partials/footer.ejs") %>