<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <a class="btn btn-lg btn-block btn-primary" href="/campgrounds"><i class="fas fa-arrow-left"></i> Campgrounds</a>
            <div class="thumbnail location-container">
                <div class="caption">
                    <h4>Location</h4>
                    <p><%= campground.location %></p>
                </div>
                <div id="map"></div>
            </div>
        </div>
        <div class="col-sm-8 col-lg-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= campground.image %>" alt="no image found">
                <div class="caption">
                    <h4 class="pull-right">£<%= campground.price %>/night</h4>
                    <h4><a class="show-title" href="#"><%= campground.name %></a> <%- '<span class="fa fa-star"></span>'.repeat(Math.round(campground.rating)) %></h4>
                    <% if(campground.reviews.length > 0){ %>
                        <h4>Rating: <%= campground.rating.toFixed(2) %><span class="rating-max">/5</span></h4>
                    <% } else { %>
                        <h4>No reviews</h4>
                    <% } %>
                    
                    <p><%= campground.description %></p>
                    <p>
                        <em>Submitted by <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    <% } %> 
                </div>
            </div>
            <div class="well">
                <div class="review-header">
                    <h4 class="pull-left">Reviews</h4>
                    <a class="btn btn-success pull-right" href="/campgrounds/<%= campground._id %>/reviews/new">Add Review</a>
                </div>
                <br>
                <hr>
                <% if(campground.reviews.length > 0){ %>
                    <% campground.reviews.forEach(function(item){ %>
                        <div class="row">
                            <div class="col-md-12 review-container">
                                <strong><%= item.author.username %></strong>
                                <%- '<span class="fa fa-star"></span>'.repeat(item.rating) %>
                                <span class="pull-right"><%= moment(item.createdAt).fromNow() %></span>
                                <p>
                                    <%= item.text %>
                                </p>
                                <% if(currentUser && item.author.id.equals(currentUser._id)){ %>
                                    <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/reviews/<%= item._id %>/edit">Edit</a>
                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/reviews/<%= item._id %>?_method=DELETE" method="POST">
                                        <input class="btn btn-xs btn-danger" type="submit" value="Delete">
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p>No reviews</p>
                <% } %>
                
            </div>
        </div>
    </div>
</div>

<script>
    function initMap() {
      var lat = <%= campground.lat %>;
      var lng = <%= campground.lng %>;
      var center = {lat: lat, lng: lng };
      var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: center,
          scrollwheel: false
      });
      var contentString = `
        <strong><%= campground.name %><br />
        <%= campground.location %></strong>
        <p><%= campground.description %></p>
      `
      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });
      var marker = new google.maps.Marker({
          position: center,
          map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAe3hdgFvuwP7I4zo4MUm7aZ4_pgRtMglQ&callback=initMap"></script>

<%- include("../partials/footer") %>